h1 {
  color: #2196f3;
  font-weight: 300;
}

#content-container {
  margin: 10px;
}

#user-icon {
 width: 40px;
 height: 40px;
 margin: 10px 10px;
}

#main-logo {
  margin: 0 10px;
}

#google-signin-button {
  margin: 20px;
}
