{% extends "main.html" %}
{% block content %}

<h1>{{category.name}}</h1>
<div class="collection">
{% for item in items %}
  <a class="collection-item blue-text" href="{{url_for('showItem', category_id = category.id, item_id = item.id)}}">{{item.name}}</a>
{% endfor %}
</div>
{% if session['user_id'] == category.user_id %}
  <p>
    <a class="btn blue" href="{{url_for('createItem', category_id = category.id)}}">Add Item</a>
    <a class="btn blue" href="{{url_for('editCategory', category_id = category.id)}}">Edit</a>
    <a class="btn red" href="{{url_for('deleteCategory', category_id = category.id)}}">Delete</a>
  </p>
{% endif %}
<p><a class="btn white blue-text" href="{{url_for('showCategories')}}">Back to Categories page</a></p>
{% endblock %}
