{% extends "main.html" %}
{% block content %}

<p>Edit item</p>
<form action="#" method="post">
  <div class="input-field" >
    <label class="active" for="name">Name</label>
    <input type ="text" maxlength="80" name="name" value="{{item.name}}">
  </div>
  <div class="input-field" >
    <label class="active" for="description">Description</label>
    <input type ="text" maxlength="250" name="description" value="{{item.description}}">
  </div>
	<button class="btn blue" type="submit">Save</button>
  <a class="btn white blue-text" href="{{url_for('showItem', category_id = category.id, item_id = item.id)}}">Cancel</a>
</form>

{% endblock %}
