<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="//apis.google.com/js/platform.js?onload=start"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<link rel="stylesheet" href="{{url_for('static', filename='css/application.css')}}">
	</head>
	<body>
		{% include "header.html" %}
		<div id="content-container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
